<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos</h1>

    <form method="post" action="users/name" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="text" name="email" placeholder="email">
            <input type="text" name="nombre" placeholder="nombre">
            <input type="text" name="pass" placeholder="pass">
        </div>
        <button>crear</button>
    </form>
</body>
</html>